body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.navbar-brand .fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222 !important;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222 !important;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

.f-info-socials {
    width: 100%;
    font-size: 1.5rem;

}

.f-info-socials i {
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.card {
    border: none;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}

.card-body {
    padding: 0;
}

.card-text p {
    font-weight: 300 !important;
}

.listing-link {
    text-decoration: none !important;
}

/* card styles */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.1;
    background-color: rgb(236, 232, 232);
}

.add-btn {
    background-color: #fe424d;border: none !important;
}
.show-img{
    height: 30vh;
}
.btnss{
    display: flex;

}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
/* #map { height: 400px; width: 80vw;} */
#map {
  width: 100%;
  height: 300px;   /* or 400px, anything > 0 */
}